#
#    glar150 - GL-AR150 demo using Zyre
#
#    Copyright (c) the Contributors as noted in the AUTHORS file.
#    This file is part of the Glar150 Project.
#
#    This Source Code Form is subject to the terms of the Mozilla Public
#    License, v. 2.0. If a copy of the MPL was not distributed with this
#    file, You can obtain one at http://mozilla.org/MPL/2.0/.

Source:         glar150
Section:        net
Priority:       optional
Maintainer:     glar150 Developers <zeromq-dev@lists.zeromq.org>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libzmq3-dev,
    libczmq-dev,
    libzyre-dev,
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libglar0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: glar150 shared library
 This package contains shared library for glar150:
 gl-ar150 demo using zyre

Package: libglar-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libzmq3-dev,
    libczmq-dev,
    libzyre-dev,
    libglar0 (= ${binary:Version})
Description: glar150 development tools
 This package contains development files for glar150:
 gl-ar150 demo using zyre

Package: glar150
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from glar150
 Main package for glar150:
 gl-ar150 demo using zyre

Package: glar150-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    glar150 (= ${binary:Version}),
    ${misc:Depends}
Description: glar150 debugging symbols
 This package contains the debugging symbols for glar150:
 gl-ar150 demo using zyre.
